<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="/assets/images/home-bg.png">
  <div class="hero-content">
    <div class="hc-inner">
      <div class="container">
        <h2>A community church where</h2>
        <h2>we get closer to God together.</h2>
        <p>For the Son of Man came to seek and to save the lost. Luke 19:10</p>
        <a href="#contact" class="site-btn sb-wide sb-line site-btn-blur">Worship with us</a>
      </div>
    </div>
  </div>
</section>
<!-- Hero section end -->

<!-- About section -->
<section class="about-section spad">
  <div class="container">
    <div class="d-flex flex-row flex-wrap-reverse">
      <div class="d-flex flex-column col-12 col-lg-6 about-content">
        <h2>Let's Make the World Better Together</h2>
        <p>Morgan Valley Christian Church has been serving the Morgan Valley community and beyond since 1984. Our membership consists of believers from various faith backgrounds and thus we are very much a community church that spiritually nurtures all who God sends through our doors.</p>
        <p>We are affiliated with American Baptist Churches, USA. As people of faith, we seek renewal and revitalization. Informed by our history and tradition, motivated by contemporary needs and challenges, and strengthened by God’s leading and the example and sacrifice of our Savior, we seek to bring a transforming witness to an uncharted future.</p>
        <a href="#contact" class="site-btn sb-wide">Worship with us</a>
      </div>
      <div class="d-flex flex-column col-12 col-lg-6 mb-5">
        <img class="about-img" src="/assets/images/mvcc-sanctuary.png" alt="MVCC Sanctuary">
      </div>
    </div>
  </div>
</section>
<!-- About section end -->

<!-- Mission Vision Values section -->
<section class="services-section spad">
  <div class="container">
    <div class="d-flex flex-row flex-wrap">
      <div class="d-flex flex-column col-12 col-sm-4">
        <div class="service-box">
          <h4><fa-icon class="service-box-icon" [icon]="['fas', 'heart']"></fa-icon>Our Mission</h4>
          <p>God has called Morgan Valley Christian Church to minister to the Morgan Valley and beyond serving as agents of Christ’s love and justice for those in need and offering a vital family of faith.</p>
          <!-- <a href="#" class="s-readmore">Read more <i class="fa fa-angle-double-right"></i></a> -->
        </div>
      </div>
      <div class="d-flex flex-column col-12 col-sm-4">
        <div class="service-box">
          <h4><fa-icon class="service-box-icon" [icon]="['fas', 'eye']"></fa-icon>Our Vision</h4>
          <p>To build a family of devoted followers of Christ that worships God, shares Christ's hope and love, and ministers to each other's needs.</p>
          <!-- <a href="#" class="s-readmore">Read more <i class="fa fa-angle-double-right"></i></a> -->
        </div>
      </div>
      <div class="d-flex flex-column col-12 col-sm-4">
        <div class="service-box">
          <h4><fa-icon class="service-box-icon" [icon]="['fas', 'fire']"></fa-icon>Our Values</h4>
          <UL>
            <li>We welcome everyone.</li>
            <li>We value our differences.</li>
            <li>We respect everyone.</li>
            <li>We are a healing community.</li>
            <li>We love unconditionally.</li>
            <li>We break through barriers.</li>
            <li>We serve each other.</li>
            <li>We change the world.</li>
          </UL>
          <!-- <a href="#" class="s-readmore">Read more <i class="fa fa-angle-double-right"></i></a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section end -->

<!-- Sermon section -->
<a id="sermons"></a>
<section class="sermon-section spad">
  <div class="section-title">
    <span>Experience God's Presence</span>
    <h2>This Week's Sermon</h2>
    <a href="https://www.facebook.com/186104604810606/live/" target="_blank" alt="All MVCC Facebook Videos">Click Here To View All Of Our Sermons On Facebook</a>
  </div>
  <div class="sermon-warp">
    <div class="container pt-3 pb-5">
      <div class="d-flex flex-row flex-wrap align-items-center">
        <div class="d-flex flex-column col-12 col-lg-6 align-items-center">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F186104604810606%2Fvideos%2F960925187704607%2F&show_text=1&width=560" width="560" height="386" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
          <!-- <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F186104604810606%2Fvideos%2F735803010503851%2F&show_text=1&width=560" width="560" height="386" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe> -->
          <!-- <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F186104604810606%2Fvideos%2F945622585862317%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> -->
          <!-- <div class="fb-video" data-href="https://www.facebook.com/186104604810606/videos/1201440856895467/" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/186104604810606/videos/1201440856895467/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/186104604810606/videos/1201440856895467/">MVCC Live Stream</a><p></p>Posted by <a href="https://www.facebook.com/Morgan-Valley-Christian-Church-186104604810606/">Morgan Valley Christian Church</a> on Sunday, July 5, 2020</blockquote></div> -->
        </div>
        <div class="d-flex flex-column col-12 col-lg-6">
          <div class="sermon-content pl-0 pl-md-4">
            <h2>The Advocate</h2>
            <p>Jesus is our greatest advocate who both teaches and goes to court for us. Mary Magdalene was also an advocate who was present at his crucifixion and witnessed his resurrection. She continued to advocate as one of his disciples. We are where we are because of a long line of advocates in our lives. How many advocates have there been in your life that have led you to where you are spiritually? We give thanks for them in our lives today tracing back to Mary and Jesus.</p>
            <!-- <p>This communion Sunday join with us in setting down one burden on Jesus' yoke and declaring our independence from that burden.</p> -->
            <p>You are loved and cherished this day our advocate Jesus. You are worthy of his advocacy.</p>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row mb-3">
        <div class="col-12">
          <h2>This Week's Readings and Meditation Music</h2>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-around">
        <div class="d-flex flex-column col-12 col-md-4">
          <p class="mb-0">First Reading and Meditation Music</p>
          <p><a href="https://www.biblegateway.com/passage/?search=1+Kings+3%3A5-12&version=NIV" alt="1 Kings 3:5-12" target="_blank">1 Kings 3:5-12</a></p>
          <div class="video-col">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/JCvKzyj2Tu8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="d-flex flex-column col-12 col-md-4">
          <p class="mb-0">Second Reading and Meditation Music</p>
          <p><a href="https://www.biblegateway.com/passage/?search=Romans+8%3A26-39&version=NIV" alt="Romans 8:26-39" target="_blank">Romans 8:26-39</a></p>
          <div class="video-col">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/yiTMPWG3C4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="d-flex flex-column col-12 col-md-4">
          <p class="mb-0">Gospel Reading and Meditation Music</p>
          <p><a href="https://www.biblegateway.com/passage/?search=Matthew%2013%3A31-33%2CMatthew%2013%3A44-52&version=NIV" alt="Matthew 13:31-33,44-52" target="_blank">Matthew 13:31-33,44-52</a></p>
          <div class="video-col">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/qpEbQGsPqHE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <!-- <ngb-carousel>
        <ng-template ngbSlide>
        </ng-template>
        <ng-template ngbSlide>
          <div class="fb-post" data-href="https://www.facebook.com/186104604810606/videos/723384685128569/" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/186104604810606/videos/723384685128569/" class="fb-xfbml-parse-ignore">Posted by <a href="https://www.facebook.com/Morgan-Valley-Christian-Church-186104604810606/">Morgan Valley Christian Church</a> on&nbsp;<a href="https://developers.facebook.com/186104604810606/videos/723384685128569/">Sunday, June 21, 2020</a></blockquote></div>
        </ng-template>
      </ngb-carousel> -->
      <!-- <div class="d-flex flex-row flex-wrap">
        <div class="col-md-6 col-md-offset-6">
          <div class="sermon-content">
            <h2>Lord Is Sufficient For All Of Our Needs</h2>
            <ul class="sermon-info">
              <li>Sermon From: <span>Vincent John</span></li>
              <li>Categories: <span>God, Pray</span></li>
              <li><span>On Monday 23 DEC, 2018</span></li>
            </ul>
            <p>For God did not send his Son into the world to condemn the world, but to save the world through him.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>
            <div class="icon-links">
              <a href=""><i class="ti-link"></i></a>
              <a href=""><i class="ti-zip"></i></a>
              <a href=""><i class="ti-headphone"></i></a>
              <a href=""><i class="ti-import"></i></a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- Sermon section end -->

<!-- Donate section -->
<!-- Photo by Quang Nguyen Vinh from Pexels -->
<section class="donate-section spad set-bg">
  <div class="container">
    <div class="d-flex flex-row flex-wrap mb-3">
      <div class="col-12 col-md-6 col-lg-7 mb-3 mb-md-0 donate-content">
        <div class="mb-3">
          <img src="/assets/images/oghs-horz-white.png" alt="Give to One Great Hour of Sharing" />
        </div>
        <p>The consequences of COVID-19 are being felt far and wide in the United States and Puerto Rico.</p>
        <p><strong>We must unite as a people of faith</strong> to strengthen, help and uphold each other during this time of unprecedented crisis, trial and recovery.</p>
        <p>While we know that you may be experiencing you own challenges, we ask that you please consider supporting our <strong>One Great Hour of sharing (OGHS)</strong> United States and Puerto Rico campaign <strong>COVID-19 Recovery: Renewing Hope and Service: <em>Together, let’s care for our neighbors in need with hope and healing.</em></strong></p>
      </div>
      <div class="d-flex flex-column justify-content-center col-md-6 col-lg-5">
        <div class="donate-card">
          <h2>$900<span>Remaining</span></h2>
          <div class="donate-progress-bar">
            <div class="pb-inner">
              <span>10%</span>
            </div>
          </div>
          <div class="donate-progress-info">
            <div class="di-left">
              Raised: <span>$100</span>
            </div>
            <div class="di-right">
              Goal: <span>$1,000</span>
            </div>
          </div>
          <button type="button" class="site-btn sb-full" (click)="clickDonateOghs()">DONATE NOW</button>
          <!-- <a href="#" class="site-btn sb-full" (click)="clickDonateOghs()">DONATE NOW</a> -->
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column col-12">
        <iframe width="100%" height="180" frameborder="no" scrolling="no" seamless src="https://share.transistor.fm/e/d2568d87"></iframe>
      </div>
    </div>
  </div>
</section>
<!-- Donate section end-->


<!-- Footer top section -->
<a id="contact">
<section class="footer-top-section spad">
  <div class="container">
    <div class="d-flex flex-row flex-wrap footer-top-content">
      <div class="d-flex flex-column col-12 col-sm-4 section-title title-left">
        <h2>Worship With Us</h2>
        <h3>Sundays</h3>
        <p class="mb-1">10:30 - 11:30 AM - Worship Service</p>
        <p>11:30 - 12:30 AM - Fellowship</p>
        <p class="text-danger mb-0"><strong>Due to COVID-19 services are online only</strong></p>
        <p>Facebook live streams Sundays at 10:30 AM</p>
      </div>
      <div class="d-flex flex-column col-12 col-sm-4 section-title title-left">
        <h2 class="d-flex align-self-center">Follow Us</h2>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column col-6 align-items-end">
            <a href="https://www.facebook.com/Morgan-Valley-Christian-Church-186104604810606" target="_blank" title="Facebook"><fa-icon [icon]="['fab', 'facebook-square']" size="4x"></fa-icon></a>
          </div>
          <div class="d-flex flex-column col-6 align-items-start">
            <a href="https://www.instagram.com/mvccutah/" target="_blank" title="Instagram"><fa-icon [icon]="['fab', 'instagram-square']" size="4x"></fa-icon></a>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column col-12 col-sm-4 section-title title-left">
        <h2>Contact Us</h2>
        <p class="mb-1">3800 West 4500 North</p>
        <p>Peterson (Morgan County), Utah 84050</p>
        <p><span>Email:</span> fred.smullin@mvccut.org</p>
        <h4>Phone:</h4>
        <h5>+1 (801) 391–0386</h5>
      </div>
    </div>
    <div class="d-flex flex-row">
      <!-- googel map -->
      <div class="d-flex flex-column col-12 map-area" id="map-canvas">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.747525605201!2d-111.76999638433549!3d41.11820472060159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8753ab89497fb175%3A0xc6724f01d10a541d!2s3800%20W%204500%20N%2C%20Morgan%2C%20UT%2084050!5e0!3m2!1sen!2sus!4v1593311714575!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</section>
<!-- Footer top section end-->
