<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="/assets/images/home-bg.png">
  <div class="hero-content">
    <div class="hc-inner">
      <div class="container">
        <h2>Together we get closer to God.</h2>
        <p>For the Son of Man came to seek and to save the lost. Luke 19:10</p>
        <a href="" class="site-btn sb-wide sb-line">join with us</a>
      </div>
    </div>
  </div>
</section>
<!-- Hero section end -->

<!-- About section -->
<section class="about-section spad">
  <div class="container">
    <div class="d-flex flex-row flex-wrap-reverse">
      <div class="d-flex flex-column col-12 col-lg-6 about-content">
        <h2>Let's Make the World Better Together</h2>
        <p>Morgan Valley Christian Church has been serving the Morgan Valley community and beyond since 1984. Our membership consists of believers from various faith backgrounds and thus we are very much a community church that spiritually nurtures all who God sends through our doors.</p>
        <p>We are affiliated with American Baptist Churches, USA. As people of faith, we seek renewal and revitalization. Informed by our history and tradition, motivated by contemporary needs and challenges, and strengthened by God’s leading and the example and sacrifice of our Savior, we seek to bring a transforming witness to an uncharted future.</p>
        <a href="" class="site-btn sb-wide">join with us</a>
      </div>
      <div class="d-flex flex-column col-12 col-lg-6 mb-5">
        <img class="about-img" src="/assets/images/mvcc-sanctuary.png" alt="MVCC Sanctuary">
      </div>
    </div>
  </div>
</section>
<!-- About section end -->

<!-- Mission Vision Values section -->
<section class="services-section spad">
  <div class="container">
    <div class="d-flex flex-row flex-wrap">
      <div class="d-flex flex-column col-12 col-sm-4">
        <div class="service-box">
          <h4><fa-icon class="service-box-icon" [icon]="['fas', 'heart']"></fa-icon>Our Mission</h4>
          <p>God has called Morgan Valley Christian Church to minister to the Morgan Valley and beyond serving as agents of Christ’s love and justice for those in need and offering a vital family of faith.</p>
          <!-- <a href="#" class="s-readmore">Read more <i class="fa fa-angle-double-right"></i></a> -->
        </div>
      </div>
      <div class="d-flex flex-column col-12 col-sm-4">
        <div class="service-box">
          <h4><fa-icon class="service-box-icon" [icon]="['fas', 'eye']"></fa-icon>Our Vision</h4>
          <p>To build a family of devoted followers of Christ that worships God, shares Christ's hope and love, and ministers to each other's needs.</p>
          <!-- <a href="#" class="s-readmore">Read more <i class="fa fa-angle-double-right"></i></a> -->
        </div>
      </div>
      <div class="d-flex flex-column col-12 col-sm-4">
        <div class="service-box">
          <h4><fa-icon class="service-box-icon" [icon]="['fas', 'fire']"></fa-icon>Our Values</h4>
          <UL>
            <li>We welcome everyone.</li>
            <li>We value our differences.</li>
            <li>We respect everyone.</li>
            <li>We are a healing community.</li>
            <li>We love unconditionally.</li>
            <li>We break through barriers.</li>
            <li>We serve each other.</li>
            <li>We change the world.</li>
          </UL>
          <!-- <a href="#" class="s-readmore">Read more <i class="fa fa-angle-double-right"></i></a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section end -->

<!-- Footer top section -->
<section class="footer-top-section spad">
  <div class="container">
    <div class="d-flex flex-row flex-wrap">
      <div class="d-flex flex-column col-12 col-sm-6 mb-4 footer-top-content">
        <div class="section-title title-left">
          <h2>Contact Us</h2>
        </div>
        <h3>Peterson, Utah</h3>
        <p>3800 West 4500 North</p>
        <p><span>Email:</span> fred.smullin@mvccut.org</p>
        <h4>Phone:</h4>
        <h5>+1 (801) 391–0386</h5>
      </div>
      <!-- googel map -->
      <div class="d-flex flex-column col-12 col-sm-6 map-area" id="map-canvas">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.747525605201!2d-111.76999638433549!3d41.11820472060159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8753ab89497fb175%3A0xc6724f01d10a541d!2s3800%20W%204500%20N%2C%20Morgan%2C%20UT%2084050!5e0!3m2!1sen!2sus!4v1593311714575!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</section>
<!-- Footer top section end-->
