:host {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

/* Buttons */
.site-btn {
	padding: 14px 23px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 2px;
	background: #790647;
	letter-spacing: 1px;
	text-align: center;
}


.site-btn.sb-wide {
	padding: 14px 35px;
}

.site-btn.sb-line {
	background-color: transparent;
	border: 2px solid #790647;
	color: #fff;
	letter-spacing: 2px;
}

.site-btn-blur {
  background: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(10px);
}

@supports (-webkit-backdrop-filter: none) or (backgrop-filter: none) {
  .site-btn-blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
/*---------------------
	Helper CSS
-----------------------*/
.section-title {
	text-align: center;
	margin-bottom: 70px;
}

.section-title.title-left {
	text-align: left;
}

.section-title span {
	font-size: 16px;
	font-weight: 700;
	color: #dd3e3e;
	margin-bottom: 10px;
	display: block;
}

.section-title h2 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

/*---------------------
	Hero Section
-----------------------*/
.hero-section {
	height: 800px;
  position: relative;
  background-image: url('/assets/images/home-bg.png');
}

.hero-section:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.45;
}

.hero-section .hero-content {
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
	z-index: 2;
}

.hero-section .hero-content .hc-inner {
	display: table-cell;
	vertical-align: middle;
}

.hero-section .hero-content h2 {
	font-size: 70px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 20px;
}

.hero-section .hero-content p {
	font-size: 18px;
	color: #fff;
	margin-bottom: 40px;
}

/*---------------------
	About Section
-----------------------*/
.about-content h2 {
	margin-bottom: 30px;
}

.about-content .site-btn {
	margin-top: 40px;
}

.spad {
	padding: 100px 0;
}

.about-img {
  width: 100%;
  height: auto;
}


/*---------------------
	Service Section
-----------------------*/
.services-section {
	background: #f6f8f9;
}

.service-box h4 {
	margin-bottom: 15px;
}

.service-box-icon {
	color: #dd3e3e;
	margin-right: 10px;
}

.service-box p {
	margin-bottom: 20px;
}

.service-box .s-readmore {
	color: #b7b7b7;
	font-size: 17px;
}

.service-box .s-readmore i {
	color: #790647;
}


/*---------------------
	Sermon Section
-----------------------*/
.sermon-section {
	padding-bottom: 0;
}

.sermon-warp {
	background: #f6f8f9;
	position: relative;
}

.sermon-left-bg {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;
}

.sermon-content {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 70px;
}

.sermon-content h2 {
	margin-bottom: 30px;
}

.sermon-info {
	list-style: none;
	margin-bottom: 20px;
}

.sermon-info li {
	font-size: 18px;
	font-family: "Lora", serif;
	font-style: italic;
	margin-bottom: 10px;
}

.sermon-info li span {
	color: #dd3e3e;
}

.icon-links {
	margin-top: 40px;
}

.icon-links a {
	width: 48px;
	height: 48px;
	background: #fff;
	border-radius: 50px;
	text-align: center;
	color: #000000;
	display: inline-block;
	margin-right: 20px;
	font-size: 18px;
	padding-top: 12px;
	-webkit-box-shadow: 0 0 0px 2px #f0f1f1;
	        box-shadow: 0 0 0px 2px #f0f1f1;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	margin-top: 10px;
}

.icon-links a:hover {
	background: #dd3e3e;
	color: #fff;
}

.video-col {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio, source: https://faq.dailymotion.com/hc/en-us/articles/360022841393-How-to-preserve-the-player-aspect-ratio-on-a-responsive-page */
}

.video-col iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*---------------------
	Donate Section
-----------------------*/
.donate-section {
	position: relative;
  background-position: center center;
  background-image: url('/assets/images/oghs-covid-background.png');
}

.donate-section .container {
	position: relative;
	z-index: 1;
}

.donate-section:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.65;
}

.donate-content {
	padding-right: 0;
}

.donate-content h2 {
	color: #fff;
	margin-bottom: 30px;
}

.donate-content p {
	color: #fff;
	margin-bottom: 0;
}

.donate-content img {
  width: 100%;
  height: auto;
}
.donate-info {
	list-style: none;
	margin-bottom: 30px;
}

.donate-info li {
	font-size: 18px;
	font-family: "Lora", serif;
	font-style: italic;
	margin-bottom: 10px;
	color: #fff;
}

.donate-info li span {
	color: #dd3e3e;
}

.donate-card {
	padding: 40px 50px;
	background: #fff;
	border-radius: 4px;
}

/* Tablet portrait and up */
@media screen and (min-width: 768px) {
  .donate-card {
    margin-left: 30px;
  }
}

.donate-card h2 {
	font-weight: 700;
	color: #dd3e3e;
	margin-bottom: 60px;
}

.donate-card h2 span {
	font-family: "Lora", serif;
	color: #636363;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	margin-left: 20px;
}

.donate-card .donate-progress-bar {
	display: block;
	width: 100%;
	height: 10px;
	background: #ebebeb;
	position: relative;
	margin-bottom: 15px;
}

.donate-card .donate-progress-bar .pb-inner {
	position: absolute;
	height: 100%;
	width: 10%;
	left: 0;
	top: 0;
	background: #dd3e3e;
}

.donate-card .donate-progress-bar .pb-inner span {
	position: absolute;
	width: 48px;
	height: 22px;
	top: -35px;
	right: -24px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	border-radius: 2px;
	background: #252525;
}

.donate-card .donate-progress-bar .pb-inner span:after {
	position: absolute;
	content: '';
	width: 6px;
	height: 6px;
	background: #252525;
	bottom: -3px;
	left: 21px;
	-webkit-transform: rotate(47deg);
	    -ms-transform: rotate(47deg);
	        transform: rotate(47deg);
}

.donate-progress-info {
	display: block;
	margin-bottom: 60px;
	font-size: 14px;
	color: #636363;
}

.donate-progress-info span {
	color: #252525;
	font-size: 18px;
	font-weight: 600;
}

.donate-progress-info .di-left {
	float: left;
}

.donate-progress-info .di-right {
	float: right;
}

/*---------------------
	Footer top Section
-----------------------*/
.footer-top-section {
	position: relative;
}

/* .footer-top-section .map-area {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	bottom: 0;
	background: #f6f6f6;
} */

.footer-top-content h3 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer-top-content h4 {
	font-size: 16px;
	margin-bottom: 10px;
}

.footer-top-content h5 {
	font-size: 24px;
	font-weight: 400;
}

.footer-top-content p {
	font-size: 18px;
	color: #636363;
	margin-bottom: 25px;
}

.footer-top-content p span {
	color: #252525;
	font-weight: 600;
}

/*---------------------
	Footer Section
-----------------------*/
.footer-section {
	padding: 20px 0;
	background: #3c1919;
}

.footer-section .social {
	text-align: right;
	display: block;
	padding-top: 5px;
}

.footer-section .social a {
	color: #fff;
	margin-right: 30px;
}

.footer-section .social a:last-child {
	margin-right: 0;
}
